header{
    background-color:#c8102e;
    height:55px;
    display:flex;
    align-items:center;
    padding:0 30px;
}

body{
    margin: 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    font-family:Arial, sans-serif;
    font-weight:bold;
}

.logo img{
    height:22px;
}


footer{
    background-color:#c8102e;
    color:white;

    height:55px;

    display:flex;
    justify-content:center;
    align-items:center;

    position:fixed;
    bottom:0;
    left:0;

    width:100%;
}


.recuadro_1{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_2{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_3{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_4{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;

    display:flex;
    justify-content:center;
    align-items:center;
}
