header{
    background-color:#c8102e;
    height:55px;
    display:flex;
    align-items:center;
    padding:0 30px;
}

body{
    margin: 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    font-family:Arial, sans-serif;
    font-weight:bold;
}

.logo img{
    height:22px;
}


footer{
    background-color:#c8102e;
    color:white;

    height:55px;

    display:flex;
    justify-content:center;
    align-items:center;

    position:fixed;
    bottom:0;
    left:0;

    width:100%;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.recuadro_1{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;
    gap: 20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_2{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;
    gap: 20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_3{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;
    gap: 20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recuadro_4{
    width: 210px;
    background: white;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: 5px solid #d32f2f;
    gap: 20px;

    display:flex;
    justify-content:center;
    align-items:center;
}


.tabla_datos{
    width: 90%;
    background: white;
    margin: 50px auto;
    padding: 0px;
    border: 10px solid #d8d8d8;
    border-top: 5px solid #d32f2f;

    display: flex;
    justify-content: center;
    gap: 00px;


}

.nombre{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.dni{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.escuela{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}


.edad{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.telefono{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.especialidad{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}


.tabla_alumnos{
    width: 90%;
    background: white;
    margin: -60px auto;
    padding: 0px;
    border: 10px solid #d8d8d8;

    display: flex;
    justify-content: center;
    gap: 00px;


}

.nombre_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.dni_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.escuela_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}


.edad_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.telefono_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.especialidad_a{
    flex: 1;
    background: white;
    margin: 0px 0px;
    padding: 00px;
    border: 1px solid #d8d8d8;
    gap: 00px;

    display:flex;
    justify-content:center;
    align-items:center;
}